<h1>Moja Strona </h1>
{% for entry in news %}
    <h3>{{ entry.title }}</h3>
    {{ entry.text|safe }}<br />
    {{ entry.posted_date|date:"Y.m.d H:i" }}

{% endfor  %}
<form>

</a><input type="button" value="KONTAKT" onclick="parent.location.href='http://127.0.0.1:8000/email/'"&gt;
</form></a>